<?xml version="1.0" encoding="utf-8"?>

<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd.MMM.yy HH:mm:ss} %-5level - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="EndecaControl.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd.MMM.yy HH:mm:ss} %-5level - %message%newline" />
    </layout>
  </appender>
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
    <applicationName value="Endeca Control" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd.MMM.yy HH:mm:ss} %-5level - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="my@email.com" />
    <from value="my.email.com" />
    <subject value="Endeca Control Notification" />
    <smtpHost value="mail.smtp.com" />
    <bufferSize value="512" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="INFO" />
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{dd.MMM.yy HH:mm:ss} - %message%newline" />
    </layout>
  </appender>

  <!-- Setup the root category, add the appenders and set the default level -->
  <root>
    <level value="INFO" />
    <appender-ref ref="ConsoleAppender" />
  </root>
  <logger name="Endeca.Control.EacToolkit">
    <level value="INFO" />
    <appender-ref ref="RollingLogFileAppender" />
    <appender-ref ref="EventLogAppender" />
  </logger>
  <logger name="Notifier">
    <level value="INFO" />
    <appender-ref ref="SmtpAppender" />
  </logger>
</log4net>