<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="app_name" value="appname"/>
    <add key="port" value="8888"/>
    <add key="index_test_host_id" value="MDEXHost"/>
    <add key="baseline_forge" value="Forge"/>
    <add key="partial_forge" value="PartialForge"/>
    <add key="pauseBetweenDgraphUpdates" value="300"/>
    <!-- Help Text -->
    <add key="help_title" value="Endeca EAC Control Script - Endeca data transformation process control"/>
    <add key="help_body" value="Usage: ControlScript Server Option||Server: EAC server DNS name or IP||Option:|/b[aseline_update]|/p[artial_update]|/u[pdate_without_applying]|/a[pply_index]|/r[estore_backup]|/l[ocks_release]"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
